.fix-mobile-scrolling{
    overflow: initial;
}

.logoresize{
    width: 8%;
    margin-left: 100px;
    margin-top: -5px;
}

#slidertext{
    text-align: center;
    text-transform: capitalize;
    z-index: 1;
}

#team-portrait{
    image-resolution: from-image 280dpi;
}

#subtext{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
}

.video-container{
    overflow: hidden;
    height: auto;
    width: 100%;
}